.h_background {
  height: 100px;
  width: 100vw;
  background: #AB2A19 ;
  display: flex;
  justify-content: center;
 }
 
 .all_h_content {
  display: flex;
  background: #AB2A19 ;
  width: 500px;
  padding-top: 35px;
  /* position: relative; */
 }
 
 .logo_image {
  background: #AB2A19 ;
  width: 50px;
  height: 50px;
  margin-right: 10px;
 }
 
 .h_text {
  color: white;
  margin: 0px;
  background: #AB2A19 ;
  height: 50px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  position: relative;
  padding-top: 8px;
 }